/* app css stylesheet */
body{
	background-color: rgb(0, 121, 191);
}
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
	&:before {
		content: "[";
	}
	&:after {
		content: "]";
	}
	>li {
		display: inline;
		+ {
			li {
				&:before {
					content: "|";
					padding-right: 0.3em;
				}
			}
		}
	}
}
.footer {
	position: fixed;
	bottom: 0;
	background: #026aa7;
	color: #f6f6f6;
	padding: 5px 30px;
	width: 100%;
}
