<div class="container plan-container">
    <section class="main-heading m-t-30">
        <div class="row text-center">
            <div class="col-xs-12">
                <div class="heading f25">Get Tenants Quickly. <span class="text-red">SAVE THOUSANDS</span> on Brokerage.</div>
                <div class="sub-heading"> For assistance call us at 92430-09980</div>
            </div>
        </div>
    </section>
    <section class="m-t-30">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
                <div class="card plan-section plan-1">
                    <div class="heading row">
                        <div class="col-sm-8 f20">Relax Plan</div>
                        <div class="col-sm-4 text-right">
                            <div class="f17">₹ 2,999</div>
                            <div class="f10">+18% GST</div>
                        </div>
                    </div>
                    <div class="content p-15">
                        <div class="content-title text-red f12">
                            <strong>Lots of tenant choices. Super-fast clousure. Zero unwanted calls.</strong>
                        </div>
                        <ul class="content-choices">
                            <li class="content-choice">
                                <span class="icon"></span>
                                Personal Assistant
                            </li>
                            <li class="content-choice">
                                <span class="icon"></span>
                                Privacy of your phone number.
                            </li>
                            <li class="content-choice">
                                <span class="icon"></span>
                                Property promotion
                            </li>
                            <li class="content-choice">
                                <span class="icon"></span>
                                Rental Agreement - Home delivered.
                            </li>
                            <li class="content-choice">
                                <span class="icon"></span>
                                Facebook Marketing Of Property
                            </li>
                        </ul>
                    </div>
                    <div class="action-button">
                        <button class="btn">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card plan-section plan-2">
                    <div class="heading row">
                        <div class="col-sm-8">
                            <div class="f20">Super Relax Plan</div>
                            <div class="f10">*Bangalore Only</div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="f17">₹ 5,499</div>
                            <div class="f10">+18% GST</div>
                        </div>
                    </div>
                    <div class="content p-15">
                        <div class="content-title text-blue f12">
                            <strong>Leave your house keys and worries to us. Get tenant super-fast.</strong>
                        </div>
                        <ul class="content-choices">
                            <li class="content-choice">
                                <span class="icon"></span>
                                Showing house on your behalf
                            </li>
                            <li class="content-choice">
                                <span class="icon"></span>
                                Personal field assistant
                            </li>
                            <li class="content-choice">
                                <span class="icon"></span>
                                Photoshot of your property
                            </li>
                            <li class="content-choice">
                                <span class="icon"></span>
                                Privacy of your phone number
                            </li>
                            <li class="content-choice">
                                <span class="icon"></span>
                                Property promotion
                            </li>
                            <li class="content-choice">
                                <span class="icon"></span>
                                Rental Agreement - Home delivered
                            </li>
                            <li class="content-choice">
                                <span class="icon"></span>
                                Facebook Marketing Of Property
                            </li>
                        </ul>
                    </div>
                    <div class="action-button">
                        <button class="btn">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="m-t-30">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="validity in-block">Plan Validity: All Plans are valid for 45 days.</div>
                <div class="terms-condition in-block text-red">
                    <strong>Terms & Conditions apply.</strong>
                </div>
            </div>
        </div>
    </section>
</div>
